---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/Header";
import { HeroSection } from "../components/HeroSection";
import { PhilosophySection } from "../components/PhilosophySection";
import FeaturedProductsSection from "../components/FeaturedProductsSection.astro";
import { TechnologySection } from "../components/TechnologySection";
import { GallerySection } from "../components/GallerySection";
import CollectionSection from "../components/CollectionSection.astro";
import EditorialSection from "../components/EditorialSection.astro";
import { StatsSection } from "../components/StatsSection";
import TeamSection from "../components/TeamSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import FooterSection from "../components/FooterSection.astro";
---

<Layout title="Flott Women's Circle - Wellness, Skills & Empowerment">
  <main class="min-h-screen bg-background overflow-x-clip">
    <Header client:load />
    <HeroSection client:load />
    <PhilosophySection client:load />
    <FeaturedProductsSection />
    <TechnologySection client:load />
    <CollectionSection />
    <GallerySection client:load />
    <EditorialSection />
    <StatsSection client:visible />
    <TeamSection />
    <TestimonialsSection />
    <FooterSection />
  </main>
</Layout>
